main {
    text-align: justify;
    
    .city-page {
        background-color: rgba(255, 255, 255, 1);

        h1 {
            color: #555555;
            margin: 0.5rem 0 1rem;
            line-height: 1em;

            &.place-title {
                font-family: Muli, 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-size: 2.5rem;
                font-weight: 700;
            }

            .note {
                font-family: Muli, 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
    }
}

.google-maps-link,
.google-maps-wishlist-link {
    display: block;
    margin-top: 1rem;
    font-family: Muli, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}
.google-maps-wishlist-link {
    padding-bottom: 2rem;
}

.place-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
    .place-list-item {
        margin-top: 1rem;
        transition: transform 0.25s;
    }
    span.place-title {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: #FA0076;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
    .place-subtitle {
        opacity: 0.55;
        white-space: nowrap;
    }
    .place-blurb-google,
    .place-blurb-be,
    .place-phone,
    .place-address {
        display: block;
    }
    .place-blurb-google {
        font-style: italic;
    }
    .place-blurb-be,
    .place-phone,
    .place-address {
        background-position: left 0.25em;
        background-repeat: no-repeat;
        background-size: 1em 1em;
        padding-left: 1.5em;
        background-image: url('images/bullet-be.svg');
    }
    .place-blurb-be {
        background-image: url('images/bullet-be.svg');
    }
    .place-phone {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-image: url('images/bullet-be.svg');
        background-position: left center;
    }
    .place-address {
        background-image: url('images/bullet-google.svg');
    }
    .place-details {
        transform: scale(1, 0);
        transform-origin: top center;
        transition: transform 0.25s;

        .place-list-item.on & {
            margin-bottom: 0;
            transform: scale(1, 1);
        }
    }
