main {
    text-align: justify;
    
    .city-page {
        background-color: rgba(255, 255, 255, 1);

        h1 {
            color: #555555;
            margin: 0.5rem 0 1rem;
            line-height: 1em;

            .note {
                font-family: Muli, 'Helvetica Neue', Arial, Helvetica, sans-serif;
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
    }
}

.google-maps-link,
.google-maps-wishlist-link {
    display: block;
    margin-top: 1rem;
    /*
    background-image: url(images/google-maps.png);
    background-repeat: no-repeat;
    background-position: left top;
    */
    font-weight: 700;
    line-height: normal;
}
.google-maps-link {
    /*
    padding-left: 3rem;
    background-size: 2.5rem 2.5rem;
    */
    font-family: Muli, sans-serif;
    font-size: 2rem;
}
.google-maps-wishlist-link {
    /*
    padding-left: 2.5rem;
    background-size: 2rem 2rem;
    */
    padding-bottom: 2rem;
}

.place-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
    .place-list-item {
        margin-top: 1rem;
    }
    .place-title {
        display: inline-block;
        font-weight: bold;
        color: #FA0076;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
    .place-subtitle {
        opacity: 1;
    }

.city-page {

    &.place-active {
    
    }

    .city-content,
    .place-content {
        transition: transform 0.25s;
    }

    .city-content {
        transform: translateX(0);
    }

    .place-content {
        transform: translateX(0);
    }
}